ESTRUCTURA {
	
	/* Basico: */
	
		/* Tamaño */
	
		/* Posicion */
	
		/* Margen */
	
		/* Fondo */
	
	/* Otros: */ 
	
}

body,html {
	
	/* Basico: */
	
		/* Tamaño */
		
		height: 100%;
		width: 100%;
	
		/* Posicion */
	
		/* Margen */
		
		margin: 0px;
		padding: 0px;
	
		/* Fondo */
		
		background-color:#213647;
		font-size:110%;
	
	/* Otros: */ 
	
}

a {
	
	/* Basico: */
	
		/* Tamaño */
	
		/* Posicion */
	
		/* Margen */
	
		/* Fondo */
	
	/* Otros: */
	
		/* Texto */
		
		text-decoration:none;
	
}

#cabecera {
	
	/* Basico: */
	
		/* Tamaño */
		
		height: 75px;
		width: 100%;
	
		/* Posicion */
		
		position:fixed;
	
		/* Margen */
		
		top:0;
	
		/* Fondo */
		
		background-color:#011627;
	
	/* Otros: */ 

}

.cabeceraB {
	
	/* Basico */
	
		/*Tamaño*/
	
		height: 75px;
		width: 100px;
	
		/*Posicion*/
		
		position:relative;
		float:left;
		
		/* Margen */
		
		/* Fondo */
			
		background-color:#011627;
	
	/* Otros */
	
		/* Texto */
	
		color:#FDFFFC;
		text-align:center;
		
}

.cabeceraB:hover {
	
	/* Basico */
	
		/*Tamaño*/
	
		/*Posicion*/
		
		/* Margen */
		
		/* Fondo */
		
		background-color:#FDFFFC;
	
	/* Otros */
	
		/* Texto */
	
		color:#011627;
		
}

#formulario {
	
	/* Basico: */
	
		/* Tamaño */
		
		width:70%;
	
		/* Posicion */
		
		margin-top:100px;
		margin-left:15%;
	
		/* Margen */
	
		/* Fondo */
		
		
	
	/* Otros: */
	
}

.pregunta {
	
	/* Basico: */
	
		/* Tamaño */
	
		/* Posicion */
		
	
		/* Margen */
	
		/* Fondo */
		
		background-color:#FDFFFC;
	
	/* Otros: */
	
		/* Borde */
		
		border-style:solid;
		border-color:#FDFFFC;
		border-width:20px;
		
}

input[type=text] {
	
	width:50%;
	
}

select {
	
	/* Basico: */
	
		/* Tamaño */
		
		width:50%;
	
		/* Posicion */
	
		/* Margen */
	
		/* Fondo */
	
	/* Otros: */
	
}

input[type=checkbox], [type=radio] {
	
	width:25px;
	height:20px;
	vertical-align:-5px;
	
}

#boton {
	
	/* Basico */
	
		/*Tamaño*/
	
		/*Posicion*/
		
		/* Margen */
		
		/* Fondo */
			
		background-color:#011627;
	
	/* Otros */
	
		/* Texto */
	
		color:#FDFFFC;
		text-align:center;
		
		/* Borde */
		
		border-style:solid;
		border-width:10px;
		border-radius:10px;
		border-color:#011627;
	
}

#boton:hover {
	
	/* Basico */
	
		/*Tamaño*/
	
		/*Posicion*/
		
		/* Margen */
		
		/* Fondo */
		
		background-color:#FDFFFC;
	
	/* Otros */
	
		/* Texto */
	
		color:#011627;
		
		/* Borde */
		
		border-color:#FDFFFC;
	
}

#submit {
	
	/* Basico: */
	
		/* Tamaño */
		
		width:30%;
		height:50px;
	
		/* Posicion */
		
		margin-left:35%;
	
		/* Margen */
	
		/* Fondo */
		
		
	
	/* Otros: */
	
}